<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799131600584-1l3eobcgoqi9q81lvh67d0p8dm4r6c89.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799131600584-1l3eobcgoqi9q81lvh67d0p8dm4r6c89</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>799131600584-ggnhfonr375mkijvl9dhkh5nh620sahs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBcnlYHDJrXQr9MLfghwUFeAhIvb_NU21k</string>
	<key>GCM_SENDER_ID</key>
	<string>799131600584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chatappgg</string>
	<key>PROJECT_ID</key>
	<string>chat-app-5d92f</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-5d92f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799131600584:ios:ded1a30d0b212012ba07fd</string>
	<key>DATABASE_URL</key>
	<string>https://chat-app-5d92f-default-rtdb.firebaseio.com</string>
</dict>
</plist>